<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Project name:", class: "control-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <%= form.label :description, "Project description:", class: "control-label" %>
    <%= form.text_area :description, class: "form-control" %>
    <%= form.hidden_field :user_id, as: :hidden, value: current_user.id %>
  </div>

  <div class="row d-flex justify-content-center">
    <%= form.submit "Add Project", class: "btn btn-primary" %>
  </div>
<% end %>
