<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Project name:", class: "control-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <%= form.hidden_field :user_id, as: :hidden, input_html: { value: current_user.id } %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Tell a main idea of your project:", class: "control-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  #nested_fields_not_working
  <div class="form-group">
    <% form.fields_for :repositories do |repo| %>
      <%= render 'repo_fields', f: repo %>
      <%= link_to_add_association 'add repo', f, :repositories %>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center">
    <%= form.submit "Add Project", class: "btn btn-primary" %>
  </div>
<% end %>

