<h1>Projects</h1>
<%= button_to 'Add New Project', new_project_path,method: :get, class: "btn btn-primary" %>
<br>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-4">
      <h2><%= link_to project.name, project%></h2>
      <p><%= project.description %></p>
      <p><%= "by: #{project.user.nickname}" %></p>
      <p><%= button_to 'View repository >>', "https://github.com/#{project.user.nickname}/#{project.repository}", method: :get, class: "btn btn-secondary" %></p>
    </div>
  <% end %>
</div>


