<div>
  <p><%= @project.name %></p>
  <p><%= @project.description %></p>
  <p><%= "by: #{@project.user.nickname}" %></p>
  </div>
  <div>
    <% if policy(@project).update? %>
      <p><%= link_to 'Edit', edit_project_path(@project) %></p>
    <% end %>
    <% if policy(@project).destroy? %>
      <p><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
| <%= link_to 'Back to all projects', projects_path %>
