<!DOCTYPE html>
<html>
  <head>

    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Navbar</span>
      <a href="https://github.com/arkency/find-open-source-mentor" class="navbar-left"><img src="assets/images/github.jpg" style="max-width:100px; margin-top: -7px;"></a>
    </nav>

    <title>FindOpenSourceMentor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
